<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <header>
        <!-- SVG for the icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M16 29C18.2822 29.0033 20.5247 28.403 22.5 27.26V23C22.5 21.8065 22.0259 20.6619 21.182 19.818C20.3381 18.9741 19.1935 18.5 18 18.5H14C12.8065 18.5 11.6619 18.9741 10.818 19.818C9.97411 20.6619 9.5 21.8065 9.5 23V27.26C11.4753 28.403 13.7178 29.0033 16 29ZM25.5 23V24.874C27.2294 23.0226 28.3802 20.7063 28.8108 18.2097C29.2415 15.7131 28.9332 13.145 27.924 10.8212C26.9148 8.49747 25.2485 6.51922 23.1301 5.12969C21.0117 3.74015 18.5335 2.99988 16 2.99988C13.4665 2.99988 10.9883 3.74015 8.86986 5.12969C6.75145 6.51922 5.08522 8.49747 4.076 10.8212C3.06678 13.145 2.75854 15.7131 3.18919 18.2097C3.61983 20.7063 4.77059 23.0226 6.5 24.874V23C6.49998 21.4538 6.97763 19.9453 7.8676 18.6808C8.75758 17.4164 10.0164 16.4577 11.472 15.936C10.7168 15.0673 10.2274 13.9997 10.0621 12.8606C9.89691 11.7214 10.0628 10.5588 10.5402 9.51137C11.0175 8.46392 11.786 7.57588 12.7541 6.95317C13.7222 6.33045 14.8489 5.99935 16 5.99935C17.1511 5.99935 18.2778 6.33045 19.2459 6.95317C20.214 7.57588 20.9825 8.46392 21.4598 9.51137C21.9372 10.5588 22.1031 11.7214 21.9379 12.8606C21.7726 13.9997 21.2832 15.0673 20.528 15.936C21.9836 16.4577 23.2424 17.4164 24.1324 18.6808C25.0224 19.9453 25.5 21.4538 25.5 23ZM16 32C20.2435 32 24.3131 30.3143 27.3137 27.3137C30.3143 24.3131 32 20.2435 32 16C32 11.7565 30.3143 7.68687 27.3137 4.68629C24.3131 1.68571 20.2435 0 16 0C11.7565 0 7.68687 1.68571 4.68629 4.68629C1.68571 7.68687 0 11.7565 0 16C0 20.2435 1.68571 24.3131 4.68629 27.3137C7.68687 30.3143 11.7565 32 16 32ZM19 12C19 12.7956 18.6839 13.5587 18.1213 14.1213C17.5587 14.6839 16.7956 15 16 15C15.2044 15 14.4413 14.6839 13.8787 14.1213C13.3161 13.5587 13 12.7956 13 12C13 11.2044 13.3161 10.4413 13.8787 9.87868C14.4413 9.31607 15.2044 9 16 9C16.7956 9 17.5587 9.31607 18.1213 9.87868C18.6839 10.4413 19 11.2044 19 12Z"
                fill="black" />
        </svg>
        <!-- Placeholder for João Silva -->
        <div class="name">João Silva</div>
        <div class="energy">ENERGY</div>
    </header>
    <main>
        <img class="pesquisa" src="pesquisa-endereço.png">
        <div class="text">Qual serviço você<br>
            está procurando?</div><br><br>
        <div class="conteudo">
            <a href="/c-contratar"><img src="chamados.png"></a>
            <div class="divHandleButtonback">
                <a href="/home"><img src="seta_voltar.png" alt="Voltar" class="seta-voltar"></a>
              </div>
        </div>
    </main>
    <footer>
        <!-- SVG for the calendar icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31">
            <path d="M18.1753 24.0341H24.8676M18.1753 12.9049L21.5214 11.1514V24.0341" stroke="black" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" fill="none" />
            <path
                d="M11.3545 17.5927C12.2301 17.5952 13.0691 17.9311 13.6883 18.527C14.3075 19.123 14.6564 19.9305 14.659 20.7733C14.6566 21.6162 14.3078 22.424 13.6886 23.0201C13.0694 23.6162 12.2302 23.9522 11.3545 23.9546H10.0331C7.71907 23.9546 6.89294 23.6362 5.90173 22.841M11.3545 17.5927C12.2301 17.5903 13.0691 17.2544 13.6883 16.6585C14.3075 16.0625 14.6564 15.2549 14.659 14.4121C14.6566 13.5692 14.3078 12.7615 13.6886 12.1654C13.0694 11.5693 12.2302 11.2333 11.3545 11.2308H10.0331C7.88489 11.2308 6.89294 11.5493 5.90173 12.3445M11.3545 17.5927H8.04996"
                stroke="black" stroke-width="2.1" stroke-linecap="round" stroke-linejoin="round" fill="none" />
            <path
                d="M21.7052 7.78141C22.7318 7.78141 23.5641 6.98033 23.5641 5.99214C23.5641 5.00396 22.7318 4.20288 21.7052 4.20288C20.6785 4.20288 19.8462 5.00396 19.8462 5.99214C19.8462 6.98033 20.6785 7.78141 21.7052 7.78141Z"
                stroke="black" stroke-linecap="round" stroke-linejoin="round" fill="none" />
            <path
                d="M9.06417 7.78141C10.0909 7.78141 10.9231 6.98033 10.9231 5.99214C10.9231 5.00396 10.0909 4.20288 9.06417 4.20288C8.03749 4.20288 7.2052 5.00396 7.2052 5.99214C7.2052 6.98033 8.03749 7.78141 9.06417 7.78141Z"
                stroke="black" stroke-linecap="round" stroke-linejoin="round" fill="none" />
            <path
                d="M3.44699 2C3.06322 2 2.69517 2.15245 2.42381 2.42381C2.15245 2.69517 2 3.06322 2 3.44699V27.3222C2 27.706 2.15245 28.0741 2.42381 28.3454C2.69517 28.6168 3.06322 28.7692 3.44699 28.7692H27.3222C27.706 28.7692 28.0741 28.6168 28.3454 28.3454C28.6168 28.0741 28.7692 27.706 28.7692 27.3222V3.44699C28.7692 3.06322 28.6168 2.69517 28.3454 2.42381C28.0741 2.15245 27.706 2 27.3222 2H3.44699Z"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" />
        </svg>
        <!-- SVG for the house icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="29" viewBox="0 0 31 29" fill="none">
            <g clip-path="url(#clip0_245_91)">
                <path
                    d="M15.435 0.00112519L14.625 0.774L0 15.399L1.62 17.019L3.06 15.5745V28.5829H13.185V17.3329H17.685V28.5829H27.81V15.5745L29.25 17.0168L30.87 15.3967L16.245 0.77175L15.435 0V0.00112519ZM15.435 3.20063L25.56 13.3256V26.3329H19.935V15.0829H10.935V26.3329H5.31V13.3245L15.435 3.1995V3.20063Z"
                    fill="black" />
            </g>
            <defs>
                <clipPath id="clip0_245_91">
                    <rect width="31" height="29" fill="white" />
                </clipPath>
            </defs>
        </svg>
        <!-- SVG for the location icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
            <g clip-path="url(#clip0_245_92)">
                <path
                    d="M15.5097 24L9.04667 14.6182C7.98878 13.3343 7.30752 11.7678 7.08223 10.1013C6.85693 8.43472 7.09688 6.73668 7.77412 5.2049C8.45136 3.67311 9.53802 2.37064 10.9075 1.44915C12.2771 0.527671 13.8731 0.0251098 15.5097 0C17.7784 0.0230457 19.9458 0.969375 21.5371 2.63172C23.1284 4.29407 24.014 6.53694 23.9998 8.86909C24.0007 10.9036 23.3269 12.8776 22.0896 14.4655L15.5097 24ZM15.5097 2.18182C13.8031 2.20196 12.174 2.9175 10.9801 4.17131C9.78622 5.42513 9.1252 7.11472 9.14218 8.86909C9.14929 10.4704 9.70973 12.0169 10.7235 13.2327L15.5097 20.2036L20.4234 13.0909C21.3574 11.8925 21.8698 10.4047 21.8773 8.86909C21.8943 7.11472 21.2333 5.42513 20.0394 4.17131C18.8455 2.9175 17.2164 2.20196 15.5097 2.18182Z"
                    fill="black" />
                <path
                    d="M15.5 10C16.8807 10 18 9.10457 18 8C18 6.89543 16.8807 6 15.5 6C14.1193 6 13 6.89543 13 8C13 9.10457 14.1193 10 15.5 10Z"
                    fill="black" />
                <path
                    d="M28.7857 11H26.5714V13.2222H28.7857V28.7778H2.21429V13.2222H4.42857V11H2.21429C1.62702 11 1.06381 11.2341 0.648549 11.6509C0.23329 12.0676 0 12.6329 0 13.2222V28.7778C0 29.3671 0.23329 29.9324 0.648549 30.3491C1.06381 30.7659 1.62702 31 2.21429 31H28.7857C29.373 31 29.9362 30.7659 30.3514 30.3491C30.7667 29.9324 31 29.3671 31 28.7778V13.2222C31 12.6329 30.7667 12.0676 30.3514 11.6509C29.9362 11.2341 29.373 11 28.7857 11Z"
                    fill="black" />
            </g>
            <defs>
                <clipPath id="clip0_245_92">
                    <rect width="31" height="31" fill="white" />
                </clipPath>
            </defs>
        </svg>

    </footer>

</body>

</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body,
    html {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Mina', sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        margin: 0 auto;
        background: #212121;
    }

    header,
    footer {
        background: #DEB001;
        height: 54px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        justify-content: space-between;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    header svg,
    footer svg {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }

    header .energy,
    header .name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .name {
        width: 76px;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        right: 85px;
        top: 10px;
    }

    header .energy {
        width: 76px;
        font-size: 16px;
        font-weight: 700;
    }

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 54px;
        padding-bottom: 54px;
        overflow-y: auto;
        position: relative;
        z-index: 1;
    }

    main .arrow {
        width: 35px;
        height: 27.206px;
        margin-bottom: 20px;
        position: absolute;
        top: 80px;
        left: 10px;
        background: transparent;
    }

    main .text {
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        margin-top: 70px;

    }

    .conteudo {
        position: relative;
        width: 85%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    img {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    footer {
        justify-content: space-around;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .footer svg {
        width: 31px;
        height: 31px;
    }

    svg {
        fill: currentColor;
    }

    .divHandleButtonback {
        position: absolute;
        left: 20px;
        top: 20px;
    }
</style>